In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
def load_csv_as_df(file_name, sub_directories, col_name=None):
    '''
    Load any csv as a pandas dataframe. Provide the filename, the subdirectories, and columns to read(if desired).
    '''
    # sub_directories = '/Data/'
    base_path = os.getcwd()
    full_path = base_path + sub_directories + file_name
    
    if col_name is not None:
        return pd.read_csv(full_path, usecols=[col_name])
    
    # print('Full Path: ', full_path)
    col_names = ['old_index', 'taxi_id', 'time', 'longitude', 'latitude', 'occupancy_status', 'speed', 'route_number', 'route_start', 'route_end']
    df = pd.read_csv(full_path)
    df.columns = col_names
    df.drop('old_index', axis=1, inplace=True)
    return df

In [4]:
df = load_csv_as_df('Better_taxi_data.csv', '/')

In [6]:
lat_values = df['latitude'].tolist()
max_lat = max(lat_values)
min_lat = min(lat_values)

In [7]:
print('Min Latitude: ', min_lat)
print('Max Latitude: ', max_lat)

Min Latitude:  10.28
Max Latitude:  410280.0

In [8]:
df.head()

,taxi_id,time,longitude,latitude,occupancy_status,speed,route_number,route_start,route_end
0,26254,2018-10-31 00:00:00,114.026871,22.746250,0,61,-1,False,False
1,26254,2018-10-31 00:00:15,114.026733,22.743851,0,69,-1,False,False
2,26254,2018-10-31 00:00:30,114.027702,22.741716,0,72,-1,False,False
3,26254,2018-10-31 00:00:45,114.028419,22.740150,0,2,-1,False,False
4,26254,2018-10-31 00:01:00,114.028419,22.740150,0,0,-1,False,False

In [13]:
row_number = int((22.746250 - 22.444014)// 0.01656268)
col_number = int((114.026871 - 113.749946)//0.01656268)
print(row_number)
print(col_number)

18
16

In [58]:
max_lat = 22.858081
min_lat = 22.444014

min_long = 113.528122
max_long = 114.628818

diff_in_latitude = 0.414067 = 0.01656268 = 25 for height
diff_in_longitude = 0.878872 = 0.01757744 = 50 for width

row = current_lat - min_lat / cell_size ??

row_number = (22.746250 - 22.444014)/0.01656268
col_number = (114.026871 - 113.749946)/0.01656268

SyntaxError: invalid syntax (<ipython-input-58-f8300f858eca>, line 7)

In [66]:
max_lat = 22.858081
min_lat = 22.444014

# min_long = 113.528122
# max_long = 114.628818

min_long = 113
max_long = 115

diff_in_latitude =  max_lat - min_lat
diff_in_longitude = max_long - min_long

# 15 rows so
cell_size = diff_in_latitude / 15.0

row_number = int((22.746250 - min_lat)//cell_size)
col_number = int((114.026871 - min_long)//cell_size)

In [89]:
def concat(a, b):
    return int(f"{a}{b}")

def map_ending_to_box(latitude, longitude):
    row_number = int((latitude - min_lat) // cell_size)
    col_number = int((longitude - min_long) // cell_size)
    
    if col_number < 0 or row_number < 0:
        return -1, -1, -1
    
    # print(row_number)
    # print(col_number)

    # cell_number_str = str(row_number) + str(col_number)
    
    return concat(row_number, col_number), row_number, col_number

In [90]:
ends_df = df[df['route_end'] == True]

In [94]:
def map_endings_to_cell(ends_df):
    # map all endings to a cell
    cells = []
    rows = []
    cols = []
    for index, row in ends_df.iterrows():
        lat = row['latitude']
        long = row['longitude']
        
        cell_number, cell_row, cell_col = map_ending_to_box(lat, long)
        
        cells.append(cell_number)
        cols.append(cell_col)
        rows.append(cell_row)
        
    ends_df['cell'] = cells
    ends_df['row'] = rows
    ends_df['column'] = cols
    
    
    return ends_df

In [95]:
ends_df = map_endings_to_cell(ends_df)

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [96]:
ends_df.mode()

,taxi_id,time,longitude,latitude,occupancy_status,speed,route_number,route_start,route_end,cell,row,column
0,26430.0,2018-10-31 23:59:54,114.068047,22.506451,0.0,0.0,1,False,True,340.0,3.0,40.0
1,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,3,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,4,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,5,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,6,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,7,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,8,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,9,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,10,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,11,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,12,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,13,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,14,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,15,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,16,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,17,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,18,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,19,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,20,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,21,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,22,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,23,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN,24,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,25,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN,NaN,26,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,27,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN,NaN,NaN,28,NaN,NaN,NaN,NaN,NaN
28,NaN,NaN,NaN,NaN,NaN,NaN,29,NaN,NaN,NaN,NaN,NaN
29,NaN,NaN,NaN,NaN,NaN,NaN,30,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
540383,NaN,NaN,NaN,NaN,NaN,NaN,540384,NaN,NaN,NaN,NaN,NaN
540384,NaN,NaN,NaN,NaN,NaN,NaN,540385,NaN,NaN,NaN,NaN,NaN
540385,NaN,NaN,NaN,NaN,NaN,NaN,540386,NaN,NaN,NaN,NaN,NaN
540386,NaN,NaN,NaN,NaN,NaN,NaN,540387,NaN,NaN,NaN,NaN,NaN
540387,NaN,NaN,NaN,NaN,NaN,NaN,540388,NaN,NaN,NaN,NaN,NaN
540388,NaN,NaN,NaN,NaN,NaN,NaN,540389,NaN,NaN,NaN,NaN,NaN
540389,NaN,NaN,NaN,NaN,NaN,NaN,540390,NaN,NaN,NaN,NaN,NaN
540390,NaN,NaN,NaN,NaN,NaN,NaN,540391,NaN,NaN,NaN,NaN,NaN
540391,NaN,NaN,NaN,NaN,NaN,NaN,540392,NaN,NaN,NaN,NaN,NaN
540392,NaN,NaN,NaN,NaN,NaN,NaN,540393,NaN,NaN,NaN,NaN,NaN
540393,NaN,NaN,NaN,NaN,NaN,NaN,540394,NaN,NaN,NaN,NaN,NaN
540394,NaN,NaN,NaN,NaN,NaN,NaN,540395,NaN,NaN,NaN,NaN,NaN
540395,NaN,NaN,NaN,NaN,NaN,NaN,540396,NaN,NaN,NaN,NaN,NaN
540396,NaN,NaN,NaN,NaN,NaN,NaN,540397,NaN,NaN,NaN,NaN,NaN
540397,NaN,NaN,NaN,NaN,NaN,NaN,540398,NaN,NaN,NaN,NaN,NaN
540398,NaN,NaN,NaN,NaN,NaN,NaN,540399,NaN,NaN,NaN,NaN,NaN
540399,NaN,NaN,NaN,NaN,NaN,NaN,540400,NaN,NaN,NaN,NaN,NaN
540400,NaN,NaN,NaN,NaN,NaN,NaN,540401,NaN,NaN,NaN,NaN,NaN
540401,NaN,NaN,NaN,NaN,NaN,NaN,540402,NaN,NaN,NaN,NaN,NaN
540402,NaN,NaN,NaN,NaN,NaN,NaN,540403,NaN,NaN,NaN,NaN,NaN
540403,NaN,NaN,NaN,NaN,NaN,NaN,540404,NaN,NaN,NaN,NaN,NaN
540404,NaN,NaN,NaN,NaN,NaN,NaN,540405,NaN,NaN,NaN,NaN,NaN
540405,NaN,NaN,NaN,NaN,NaN,NaN,540406,NaN,NaN,NaN,NaN,NaN
540406,NaN,NaN,NaN,NaN,NaN,NaN,540407,NaN,NaN,NaN,NaN,NaN
540407,NaN,NaN,NaN,NaN,NaN,NaN,540408,NaN,NaN,NaN,NaN,NaN
540408,NaN,NaN,NaN,NaN,NaN,NaN,540409,NaN,NaN,NaN,NaN,NaN
540409,NaN,NaN,NaN,NaN,NaN,NaN,540410,NaN,NaN,NaN,NaN,NaN
540410,NaN,NaN,NaN,NaN,NaN,NaN,540411,NaN,NaN,NaN,NaN,NaN
540411,NaN,NaN,NaN,NaN,NaN,NaN,540412,NaN,NaN,NaN,NaN,NaN
540412,NaN,NaN,NaN,NaN,NaN,NaN,540413,NaN,NaN,NaN,NaN,NaN