In [2]:
import os
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline

In [77]:
def load_csv_as_df(file_name, sub_directories, col_name=None):
    '''
    Load any csv as a pandas dataframe. Provide the filename, the subdirectories, and columns to read(if desired).
    '''
    base_path = os.getcwd()
    full_path = base_path + sub_directories + file_name
    
    if col_name is not None:
        return pd.read_csv(full_path, usecols=[col_name])
    
    # print('Full Path: ', full_path)
    col_names = ['old_index', 'taxi_id', 'time', 'longitude', 'latitude', 'occupancy_status', 'speed', 'route_number', 'route_start', 'route_end']
    df = pd.read_csv(full_path)
    df.columns = col_names
    df.drop('old_index', axis=1, inplace=True)
    return df


def lookup(s):
    """
    This is an extremely fast approach to datetime parsing.
    For large data, the same dates are often repeated. Rather than
    re-parse these, we store all unique dates, parse them, and
    use a lookup to convert all dates.
    """
    dates = {date:pd.to_datetime(date) for date in s.unique()}
    return s.map(dates)


def label_trajectories(df):
    updated_dfs = []
    taxi_ids = df['taxi_id'].unique()
    print('There are ', len(taxi_ids), ' in this data')
    empty_route = -1
    trajectory_number = 1

    completed_count = 0

    for taxi_id in taxi_ids[:10]:
        # get the df for that taxis
        taxi_df = df.loc[df['taxi_id'] == taxi_id]
        passenger_got_in = False
        route_numbers = []
        route_starts = []
        route_ends = []

        for index, row in taxi_df.iterrows():
            passenger_in_taxi = row['occupancy_status']

            # Do we already have a passenger?
            if passenger_got_in:
                if passenger_in_taxi:
                    # trajectory still going
                    route_starts.append(False)
                    route_ends.append(False)
                    route_numbers.append(trajectory_number)
                    continue
                elif not passenger_in_taxi:
                    # trajectory ended
                    passenger_got_in = False
                    route_starts.append(False)
                    route_ends.append(True)
                    route_numbers.append(trajectory_number)
                    trajectory_number += 1

            elif passenger_in_taxi:
                passenger_got_in = True
                route_starts.append(True)
                route_ends.append(False)
                route_numbers.append(trajectory_number)

            else:
                route_starts.append(False)
                route_ends.append(False)
                route_numbers.append(empty_route)

        taxi_df['route_number'] = route_numbers
        taxi_df['route_start'] = route_starts
        taxi_df['route_end'] = route_ends
        updated_dfs.append(taxi_df)
        completed_count += 1

        if completed_count % 100 == 0:
            print('Completed ', completed_count, ' taxi_ids out of ', len(taxi_ids))

    return pd.concat(updated_dfs)

In [12]:
df = load_csv_as_df('Better_taxi_data.csv', '/')

In [7]:
# df['time'] = lookup(df['time'])

In [9]:
# df.sort_values(by=['time'], inplace=True)

In [13]:
df.head()

,Unnamed: 0,taxi_id,time,latitude,longitude,occupancy_status,speed,route_number,route_start,route_end
0,13446550,26254,2018-10-31 00:00:00,114.026871,22.746250,0,61,-1,False,False
1,13447104,26254,2018-10-31 00:00:15,114.026733,22.743851,0,69,-1,False,False
2,13445774,26254,2018-10-31 00:00:30,114.027702,22.741716,0,72,-1,False,False
3,13445518,26254,2018-10-31 00:00:45,114.028419,22.740150,0,2,-1,False,False
4,13447364,26254,2018-10-31 00:01:00,114.028419,22.740150,0,0,-1,False,False

In [30]:
route_nums = df.route_number.unique()

for x in range(5):
    print(route_nums[x])

-1
1
2
3
4

In [58]:
def find_trajectories_at_airport_or_bus(df):
    relevant_route_numbers = []
    relevant_cols = ['latitude', 'longitude', 'route_number', 'route_start']
    route_numbers = df.route_number.unique()

    number_of_trajectories = len(route_numbers) - 1

    for route_number in route_numbers:
        if route_number != -1:

            if route_number % 100 == 0:
                print('On route number ', route_number, ' out of ', number_of_trajectories)

            start_row = df[relevant_cols][(df['route_start'] == True) & (df['route_number'] == route_number)]
            end_row = df[relevant_cols][(df['route_end'] == True) & (df['route_number'] == route_number)]

            # print(start_row)
            # print(end_row)

            start_lat = start_row['latitude'].iloc[0]
            start_long = start_row['longitude'].iloc[0]

            end_lat = end_row['latitude'].iloc[0]
            end_long = end_row['longitude'].iloc[0]

            if near_airport(start_lat, start_long) and near_bus_station(end_lat, end_long):
                relevant_route_numbers.append(route_number)
            elif near_bus_station(start_lat, start_long) and near_airport(end_lat, end_long):
                relevant_route_numbers.append(route_number)

    return relevant_route_numbers


def near_airport(lat, long):
    if 22.605770 <= lat <= 22.667089 and 113.784647 <= long <= 113.837340:
        return True
    else:
        return False


def near_bus_station(lat, long):
    if 22.567210 <= lat <= 22.568807 and 114.089676 <= long <= 114.091320:
        return True
    else:
        return False

In [95]:
starts_df = df[df['route_start'] == True]
ends_df = df[df['route_end'] == True]

In [100]:
air_starts = starts_df.query('latitude>=22.605770 and latitude<=22.667089 and longitude>=113.784647 and longitude<=113.837340')

In [101]:
bus_starts = starts_df.query('latitude>=22.567210 and latitude<=22.568807 and longitude>=114.089676 and longitude<=114.091320')

In [102]:
print('There are ', len(air_starts), ' routes that start at the airport')
print('There are ', len(bus_starts), ' routes that start at the bus station')

There are  9349  routes that start at the airport
There are  33  routes that start at the bus station

In [115]:
airport_route_numbers = air_starts.route_number.unique()

airport_routes_df = df[df['route_number'].isin(airport_route_numbers)]
airport_routes_df = airport_routes_df[airport_routes_df['route_end'] == True] # find the most common end
airport_routes_df.mode()

,old_index,taxi_id,time,longitude,latitude,occupancy_status,speed,route_number,route_start,route_end
0,6274,36341.0,2018-10-31 11:12:54,114.077866,22.506468,0.0,0.0,2,False,True
1,14964,NaN,NaN,NaN,NaN,NaN,NaN,4,NaN,NaN
2,19645,NaN,NaN,NaN,NaN,NaN,NaN,5,NaN,NaN
3,22505,NaN,NaN,NaN,NaN,NaN,NaN,44,NaN,NaN
4,23169,NaN,NaN,NaN,NaN,NaN,NaN,45,NaN,NaN
5,24248,NaN,NaN,NaN,NaN,NaN,NaN,109,NaN,NaN
6,24697,NaN,NaN,NaN,NaN,NaN,NaN,124,NaN,NaN
7,25197,NaN,NaN,NaN,NaN,NaN,NaN,365,NaN,NaN
8,25395,NaN,NaN,NaN,NaN,NaN,NaN,371,NaN,NaN
9,26457,NaN,NaN,NaN,NaN,NaN,NaN,411,NaN,NaN
10,26840,NaN,NaN,NaN,NaN,NaN,NaN,412,NaN,NaN
11,37231,NaN,NaN,NaN,NaN,NaN,NaN,413,NaN,NaN
12,37392,NaN,NaN,NaN,NaN,NaN,NaN,427,NaN,NaN
13,37679,NaN,NaN,NaN,NaN,NaN,NaN,428,NaN,NaN
14,43669,NaN,NaN,NaN,NaN,NaN,NaN,432,NaN,NaN
15,43828,NaN,NaN,NaN,NaN,NaN,NaN,635,NaN,NaN
16,45009,NaN,NaN,NaN,NaN,NaN,NaN,788,NaN,NaN
17,45512,NaN,NaN,NaN,NaN,NaN,NaN,848,NaN,NaN
18,45983,NaN,NaN,NaN,NaN,NaN,NaN,849,NaN,NaN
19,49749,NaN,NaN,NaN,NaN,NaN,NaN,851,NaN,NaN
20,54049,NaN,NaN,NaN,NaN,NaN,NaN,853,NaN,NaN
21,56136,NaN,NaN,NaN,NaN,NaN,NaN,896,NaN,NaN
22,75073,NaN,NaN,NaN,NaN,NaN,NaN,897,NaN,NaN
23,76030,NaN,NaN,NaN,NaN,NaN,NaN,898,NaN,NaN
24,81227,NaN,NaN,NaN,NaN,NaN,NaN,1103,NaN,NaN
25,81872,NaN,NaN,NaN,NaN,NaN,NaN,1105,NaN,NaN
26,109330,NaN,NaN,NaN,NaN,NaN,NaN,1143,NaN,NaN
27,111001,NaN,NaN,NaN,NaN,NaN,NaN,1206,NaN,NaN
28,114864,NaN,NaN,NaN,NaN,NaN,NaN,1385,NaN,NaN
29,116807,NaN,NaN,NaN,NaN,NaN,NaN,1420,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
9305,46655471,NaN,NaN,NaN,NaN,NaN,NaN,538329,NaN,NaN
9306,46655811,NaN,NaN,NaN,NaN,NaN,NaN,538336,NaN,NaN
9307,46659448,NaN,NaN,NaN,NaN,NaN,NaN,538338,NaN,NaN
9308,46662207,NaN,NaN,NaN,NaN,NaN,NaN,538345,NaN,NaN
9309,46670367,NaN,NaN,NaN,NaN,NaN,NaN,538391,NaN,NaN
9310,46683209,NaN,NaN,NaN,NaN,NaN,NaN,538443,NaN,NaN
9311,46686260,NaN,NaN,NaN,NaN,NaN,NaN,538500,NaN,NaN
9312,46701901,NaN,NaN,NaN,NaN,NaN,NaN,538949,NaN,NaN
9313,46727783,NaN,NaN,NaN,NaN,NaN,NaN,538950,NaN,NaN
9314,46755059,NaN,NaN,NaN,NaN,NaN,NaN,539004,NaN,NaN
9315,46755151,NaN,NaN,NaN,NaN,NaN,NaN,539049,NaN,NaN
9316,46756134,NaN,NaN,NaN,NaN,NaN,NaN,539050,NaN,NaN
9317,46789576,NaN,NaN,NaN,NaN,NaN,NaN,539165,NaN,NaN
9318,46789939,NaN,NaN,NaN,NaN,NaN,NaN,539311,NaN,NaN
9319,46790948,NaN,NaN,NaN,NaN,NaN,NaN,539324,NaN,NaN
9320,46791261,NaN,NaN,NaN,NaN,NaN,NaN,539509,NaN,NaN
9321,46791270,NaN,NaN,NaN,NaN,NaN,NaN,539512,NaN,NaN
9322,46792986,NaN,NaN,NaN,NaN,NaN,NaN,539808,NaN,NaN
9323,46797342,NaN,NaN,NaN,NaN,NaN,NaN,539820,NaN,NaN
9324,46805919,NaN,NaN,NaN,NaN,NaN,NaN,539902,NaN,NaN
9325,46828995,NaN,NaN,NaN,NaN,NaN,NaN,540032,NaN,NaN
9326,46830113,NaN,NaN,NaN,NaN,NaN,NaN,540095,NaN,NaN
9327,46832621,NaN,NaN,NaN,NaN,NaN,NaN,540131,NaN,NaN
9328,46833458,NaN,NaN,NaN,NaN,NaN,NaN,540132,NaN,NaN
9329,46856245,NaN,NaN,NaN,NaN,NaN,NaN,540167,NaN,NaN
9330,46860384,NaN,NaN,NaN,NaN,NaN,NaN,540214,NaN,NaN
9331,46914171,NaN,NaN,NaN,NaN,NaN,NaN,540229,NaN,NaN
9332,46914289,NaN,NaN,NaN,NaN,NaN,NaN,540230,NaN,NaN
9333,46915835,NaN,NaN,NaN,NaN,NaN,NaN,540241,NaN,NaN
9334,46921572,NaN,NaN,NaN,NaN,NaN,NaN,540256,NaN,NaN

In [116]:
airport_routes_long_list = airport_routes_df.longitude.unique()
print(len(airport_routes_long_list))

7185

In [117]:
duplicate_drop_off_lat = airport_routes_df[airport_routes_df.duplicated(['latitude'], keep=False)]
duplicate_drop_off_long = airport_routes_df[airport_routes_df.duplicated(['longitude'], keep=False)]

In [121]:
# print(duplicate_drop_off_lat)
# duplicate_drop_off_lat.mode()
# print(duplicate_drop_off_long)
duplicate_drop_off_long.mode()

,old_index,taxi_id,time,longitude,latitude,occupancy_status,speed,route_number,route_start,route_end
0,6274,36341.0,2018-10-31 19:48:48,114.077866,22.506468,0.0,0.0,44,False,True
1,19645,NaN,NaN,NaN,NaN,NaN,NaN,109,NaN,NaN
2,25197,NaN,NaN,NaN,NaN,NaN,NaN,124,NaN,NaN
3,37392,NaN,NaN,NaN,NaN,NaN,NaN,371,NaN,NaN
4,37679,NaN,NaN,NaN,NaN,NaN,NaN,411,NaN,NaN
5,43669,NaN,NaN,NaN,NaN,NaN,NaN,427,NaN,NaN
6,45009,NaN,NaN,NaN,NaN,NaN,NaN,432,NaN,NaN
7,54049,NaN,NaN,NaN,NaN,NaN,NaN,788,NaN,NaN
8,56136,NaN,NaN,NaN,NaN,NaN,NaN,849,NaN,NaN
9,76030,NaN,NaN,NaN,NaN,NaN,NaN,897,NaN,NaN
10,117537,NaN,NaN,NaN,NaN,NaN,NaN,1105,NaN,NaN
11,163310,NaN,NaN,NaN,NaN,NaN,NaN,1818,NaN,NaN
12,176417,NaN,NaN,NaN,NaN,NaN,NaN,1823,NaN,NaN
13,208609,NaN,NaN,NaN,NaN,NaN,NaN,2155,NaN,NaN
14,208827,NaN,NaN,NaN,NaN,NaN,NaN,2182,NaN,NaN
15,209114,NaN,NaN,NaN,NaN,NaN,NaN,2260,NaN,NaN
16,259084,NaN,NaN,NaN,NaN,NaN,NaN,2335,NaN,NaN
17,261640,NaN,NaN,NaN,NaN,NaN,NaN,2540,NaN,NaN
18,274243,NaN,NaN,NaN,NaN,NaN,NaN,2705,NaN,NaN
19,349873,NaN,NaN,NaN,NaN,NaN,NaN,2706,NaN,NaN
20,349900,NaN,NaN,NaN,NaN,NaN,NaN,2707,NaN,NaN
21,360133,NaN,NaN,NaN,NaN,NaN,NaN,2709,NaN,NaN
22,373962,NaN,NaN,NaN,NaN,NaN,NaN,2844,NaN,NaN
23,373980,NaN,NaN,NaN,NaN,NaN,NaN,2953,NaN,NaN
24,374729,NaN,NaN,NaN,NaN,NaN,NaN,2976,NaN,NaN
25,375826,NaN,NaN,NaN,NaN,NaN,NaN,3103,NaN,NaN
26,376114,NaN,NaN,NaN,NaN,NaN,NaN,3108,NaN,NaN
27,376680,NaN,NaN,NaN,NaN,NaN,NaN,3246,NaN,NaN
28,376777,NaN,NaN,NaN,NaN,NaN,NaN,3535,NaN,NaN
29,383412,NaN,NaN,NaN,NaN,NaN,NaN,3546,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
3550,46579661,NaN,NaN,NaN,NaN,NaN,NaN,536914,NaN,NaN
3551,46580718,NaN,NaN,NaN,NaN,NaN,NaN,536921,NaN,NaN
3552,46581434,NaN,NaN,NaN,NaN,NaN,NaN,536988,NaN,NaN
3553,46589507,NaN,NaN,NaN,NaN,NaN,NaN,537014,NaN,NaN
3554,46632145,NaN,NaN,NaN,NaN,NaN,NaN,537022,NaN,NaN
3555,46633347,NaN,NaN,NaN,NaN,NaN,NaN,537024,NaN,NaN
3556,46633656,NaN,NaN,NaN,NaN,NaN,NaN,537123,NaN,NaN
3557,46635144,NaN,NaN,NaN,NaN,NaN,NaN,537253,NaN,NaN
3558,46636295,NaN,NaN,NaN,NaN,NaN,NaN,537260,NaN,NaN
3559,46649250,NaN,NaN,NaN,NaN,NaN,NaN,537263,NaN,NaN
3560,46649267,NaN,NaN,NaN,NaN,NaN,NaN,537264,NaN,NaN
3561,46653247,NaN,NaN,NaN,NaN,NaN,NaN,537265,NaN,NaN
3562,46653596,NaN,NaN,NaN,NaN,NaN,NaN,537266,NaN,NaN
3563,46653611,NaN,NaN,NaN,NaN,NaN,NaN,537862,NaN,NaN
3564,46655469,NaN,NaN,NaN,NaN,NaN,NaN,538010,NaN,NaN
3565,46662207,NaN,NaN,NaN,NaN,NaN,NaN,538169,NaN,NaN
3566,46670367,NaN,NaN,NaN,NaN,NaN,NaN,538198,NaN,NaN
3567,46727783,NaN,NaN,NaN,NaN,NaN,NaN,538328,NaN,NaN
3568,46755059,NaN,NaN,NaN,NaN,NaN,NaN,538336,NaN,NaN
3569,46756134,NaN,NaN,NaN,NaN,NaN,NaN,538338,NaN,NaN
3570,46789939,NaN,NaN,NaN,NaN,NaN,NaN,538949,NaN,NaN
3571,46791261,NaN,NaN,NaN,NaN,NaN,NaN,539049,NaN,NaN
3572,46805919,NaN,NaN,NaN,NaN,NaN,NaN,539165,NaN,NaN
3573,46828995,NaN,NaN,NaN,NaN,NaN,NaN,539808,NaN,NaN
3574,46832621,NaN,NaN,NaN,NaN,NaN,NaN,540032,NaN,NaN
3575,46833458,NaN,NaN,NaN,NaN,NaN,NaN,540131,NaN,NaN
3576,46856245,NaN,NaN,NaN,NaN,NaN,NaN,540132,NaN,NaN
3577,46860384,NaN,NaN,NaN,NaN,NaN,NaN,540229,NaN,NaN
3578,46914171,NaN,NaN,NaN,NaN,NaN,NaN,540241,NaN,NaN
3579,46921572,NaN,NaN,NaN,NaN,NaN,NaN,540256,NaN,NaN

In [103]:
air_ends = ends_df.query('latitude>=22.605770 and latitude<=22.667089 and longitude>=113.784647 and longitude<=113.837340')
bus_ends = ends_df.query('latitude>=22.567210 and latitude<=22.568807 and longitude>=114.089676 and longitude<=114.091320')

In [105]:
print('There are ', len(air_ends), ' routes that end at the airport')
print('There are ', len(bus_ends), ' routes that end at the bus station')

There are  8435  routes that end at the airport
There are  24  routes that end at the bus station

In [106]:
air_start_route_numbers = air_starts.route_number.unique()
bus_end_route_numbers = bus_ends.route_number.unique()

air_to_bus_route_numbers = list(set(air_start_route_numbers) & set(bus_end_route_numbers))
print(air_to_bus_route_numbers)

[]

In [107]:
train_ends = ends_df.query('latitude>=22.605591 and latitude<=22.613606 and longitude>=114.023595 and longitude<=114.034006')
print('There are ', len(train_ends), ' routes that end at the train station')

There are  3207  routes that end at the train station

In [122]:
# 114.077866	22.506468	
park_ends = ends_df.query('latitude>=22.49 and latitude<=22.52 and longitude>=114.06 and longitude<=114.08')
print('There are ', len(park_ends), ' routes that end at the parking lot')

There are  3868  routes that end at the parking lot

In [108]:
air_start_route_numbers = air_starts.route_number.unique()
train_end_route_numbers = train_ends.route_number.unique()

air_to_train_route_numbers = list(set(air_start_route_numbers) & set(train_end_route_numbers))
print(air_to_train_route_numbers)

[320448, 321890, 311971, 23971, 476517, 499458, 375463, 466818, 387978, 283883, 452844, 524975, 99858, 298132, 396373, 109210]

In [109]:
train_starts = starts_df.query('latitude>=22.605591 and latitude<=22.613606 and longitude>=114.023595 and longitude<=114.034006')
print('There are ', len(train_starts), ' routes that end at the train station')

There are  2517  routes that end at the train station

In [110]:
air_end_route_numbers = air_ends.route_number.unique()
train_start_route_numbers = train_starts.route_number.unique()

train_to_air_route_numbers = list(set(train_start_route_numbers) & set(air_end_route_numbers))
print(train_to_air_route_numbers)

[366114, 190531, 168676, 493893, 296646, 104709, 97736, 437641, 53743, 254609, 403186, 95921, 470614, 132921, 506810, 24956, 158783]

In [111]:
all_relevant_routes = air_to_train_route_numbers + train_to_air_route_numbers
print(len(all_relevant_routes))
rel_set = set(all_relevant_routes)
print(len(rel_set))

33
33

In [ ]:
relevant_df = df[df.route_number.isin(relevant_routes)]
relevant_df.to_csv('RelevantTrajectories.csv', encoding='utf-8')

In [38]:
relevant_cols = ['latitude', 'longitude', 'route_number', 'route_start']
start_row = df[relevant_cols][(df['route_start'] == True) & (df['route_number'] == 2)]
end_row = df[relevant_cols][(df['route_end'] == True) & (df['route_number'] == 2)]

In [39]:
print(start_row)

      latitude  longitude  route_number  route_start
736  113.81002  22.626383             2         True

In [40]:
print(end_row)

       latitude  longitude  route_number  route_start
783  113.855232  22.574484             2        False

In [56]:
start_lat = start_row['latitude'].iloc[0]
start_long = start_row['longitude'].iloc[0]

In [57]:
print(start_lat)
print(start_long)

113.81002
22.626383